html {
  font-size: 11px;
}
body {
  font-family: "Tahoma", "Verdana", "Arial", "Geneva", "Times", "Helvetica";
}
.modal-card-head {
  text-align:  left;
}
.modal {
  align-items: start;
  flex-direction: row;
  justify-content: end;
}
.modal-card {
  min-height: 25%;
  max-height: 90%;
  width: 90%;
  margin: 5%;
  padding: 0;
}
.modal-background {
  background-color: rgba(10,10,10,0.5);
}
table>caption {
  border: 2px solid white;
  font-weight: bold;
  text-align: left;
}
table>thead>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th {
  background-color: #DADADA;
}
table>tbody>tr:nth-child(even)>td,
table>tbody>tr:nth-child(even)>th {
  background-color: #F0F0F0;
}
table>tbody>tr:nth-child(odd)>td,
table>tbody>tr:nth-child(odd)>th,
table>tbody>tr:nth-child(odd)>td[rowspan],
table>tbody>tr:nth-child(odd)>th[rowspan],
table>tbody>tr:nth-child(even)>td[rowspan]:not([rowspan="1"]),
table>tbody>tr:nth-child(even)>th[rowspan]:not([rowspan="1"]) {
  background-color: #F8F8F8;
}
table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table.is-bordered>thead>tr>th,
.table.is-bordered>tbody>tr>th,
.table.is-bordered>tfoot>tr>th,
.table.is-bordered>thead>tr>td,
.table.is-bordered>tbody>tr>td,
.table.is-bordered>tfoot>tr>td,
.table tbody tr:last-child td,
.table tbody tr:last-child th,
.pipeline .IData th,
.pipeline .IData td {
  border: 2px solid white;
  padding: 5px;
  text-align: left;
}
table>tbody>tr.rowspan:not(:first-child)>td,
table>tbody+tbody>tr:first-child>td {
  border-top: 16px solid white !important;
}
table>tfoot>tr>td,
table>tfoot>tr>th {
  vertical-align: middle;
}
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
  border-top: 2px solid white;
}
.table .table:not(.is-fullwidth) {
  width: auto;
}
.table tr.selected>td,
.table tr.selected>th {
  background-color: #d8f3e7;
}
.table tr.disabled td,
.table tr.disabled td .tag,
.table tr.disabled th,
.table tr.disabled th .tag,
.table tr.disabled td a:hover,
.table tr.disabled th a:hover {
  color: #999;
}
.table tr.disabled td .button.is-ghost,
.table tr.disabled th .button.is-ghost,
.table tr.disabled td a,
.table tr.disabled th a {
  color: #93a1de;
}
table.sortable thead {
  cursor: pointer;
}
table.sortable .sorttable_nosort {
  cursor: default;
}
table.sortable .sorttable_sorted:after {
  content: " \25B4";
}
table.sortable .sorttable_sorted_reverse:after {
  content: " \25BE";
}
table.sortable #sorttable_sortfwdind,
table.sortable #sorttable_sortrevind {
  display:none;
}
.wrappable,
.IData>.IData-Body>tr>td,
.IDataArray>.IDataArray-Body>tr>td {
  overflow-wrap: anywhere;
}
.IData th {
  overflow-wrap: normal;
}
.unwrappable {
  white-space: nowrap;
}
.button.is-primary[disabled],
.button.is-link[disabled],
.button.is-info[disabled],
.button.is-success[disabled],
.button.is-danger[disabled],
.button.is-warning[disabled] {
  border-color: transparent;
}
