<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="templates" javaclass="com.wm.util.Values">
    <record name="tundra_test_suite.html" javaclass="com.wm.util.Values">
      <value name="encoding">UTF8</value>
    </record>
  </record>
</Values>
